.image {
    width: 500px;
    height: 700px;
}

body {
    background: url("../../assets/images/background-color.jpg");
}


@font-face {
    font-family: "IBMPlexSansArabic";
    src: url(../fonts/IBMPlexSansArabic-Light.ttf);
}


#myCanvas{
    font-family: "IBMPlexSansArabic";
    max-height: 800px;
}


.container {
    display: block;
    margin: auto;
    height: auto;
  }

canvas {
    max-width: 100%;
    object-fit: contain;
}

body{
    font-family: "IBMPlexSansArabic";
}